.Setembro {
  background-color: yellow;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.Outubro {
  background-color: pink;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.Novembro {
  background-color: blue;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
